<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NodeChats</title>

    <!-- Favicon Links -->
    <link rel="shortcut icon" href="https://idevolusi.com/assets/images/logo-kecil2-128x128.png" type="image/x-icon">

    <!-- The JavaScripts -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.css" media="screen">
    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/style.css">

    
  </head>
  <body>

    <h4>NodeChats v1</h4>
    <div class="alert alert-dismissible alert-primary" id="chat-container"></div>
    <textarea class="form-control" id="chat-input" rows="3"></textarea>

    <!-- Chat's Script -->
    <script src="/js/chat.js"></script>
  </body>
</html>